h1{
    color:yellowgreen;
  
}
.unique{
    color: red;
}
input{
    color: blue;
}
body{
    background-image: url("img.jpg");
}
h3{
    color: tomato;
}p{
    color: yellow;
}
.n1{
    color: white;
}
label{
    color:cyan;
}
input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  color: blue;
   background-color:lightgoldenrodyellow
}
input[type=email] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  color: blue;
  background-color:lightgoldenrodyellow
}
