h1{
    color:yellowgreen;
  
}
.unique{
    color: red;
}
input{
    color: blue;
}
body{
    background-image: url("img.jpg");
}
h3{
    color: tomato;
}p{
    color: yellow;
}
.n1{
    color: white;
}
label{
    color:cyan;
}
